In [28]:
import pandas as pd
import numpy as np
import sys, os

In [2]:
#training_data_cleaned = pd.read_pickle("./data/solar_weather_data.pkl")     ## Load in the cleaned weather_data

In [3]:
#training_data_cleaned = training_data_cleaned.dropna()

In [4]:
#training_data_cleaned.head()

In [5]:
#predictors = training_data_cleaned.columns
#clouds = predictors[27:]

type: <br>0=clear<br>1=probably clear<br>2=fog<br>3=water<br>4=supercooled water<br>5=mixed<br>6=opaque_ice<br>7=cirrus<br>8=overlapping<br>9=overshooting<br>10=unknown

In [6]:
#training_data_cleaned[clouds].sum()

Ill combine clear and probably clear together (making them +1) and Ill get rid of the unknown and overshooting since their so rare. The rest will all be grouped into one category

In [7]:
#training_data_cleaned = training_data_cleaned[training_data_cleaned['Cloud Type_10'] == 0]
#training_data_cleaned = training_data_cleaned[training_data_cleaned['Cloud Type_9'] == 0]

In [8]:
#training_data_cleaned['binary_class'] = training_data_cleaned['Cloud Type_0'] + training_data_cleaned['Cloud Type_1']

In [9]:
#predictors = training_data_cleaned.columns
#clouds = predictors[27:]

In [10]:
#training_data_cleaned['binary_class'] = training_data_cleaned['binary_class'].where(training_data_cleaned['binary_class'] == 1, -1)

In [11]:
#training_data_cleaned['binary_class'].unique()

In [12]:
#training_data_cleaned['binary_class']

In [13]:
#training_data_cleaned = training_data_cleaned.drop(columns=clouds[0:-1])
#training_data_cleaned = training_data_cleaned.drop(columns='id')

In [14]:
#training_data_cleaned = training_data_cleaned.drop(columns='Flag')

In [15]:
#training_data_cleaned.columns

In [16]:
#training_data_cleaned.to_pickle("./data/solar_weather_data.pkl")

In [17]:
#names = ['team_won', 'cluster', 'game_mode', 'game_type'] + ['hero_' + str(x) for x in np.arange(1, 114)]

In [18]:
#uci_dota = pd.concat([pd.read_csv(f, names=names) for f in ['dota2Dataset/dota2Test.csv', 'dota2Dataset/dota2Train.csv'] ])

In [19]:
#uci_dota.to_pickle("./data/uci_dota.pkl")

In [20]:
#names = ['match_id', 'team_won', 'cluster', 'game_mode', 'game_type'] + ['hero_' + str(x) for x in np.arange(1, 11)]
#my_dota = pd.read_csv("./data/my_dota_data.csv")
#my_dota.head(2)

In [21]:
#my_dota.drop(columns='match_id', inplace = True)

In [22]:
#heros = my_dota.columns[4:]
#heros

In [23]:
#for hero in heros:
#    my_dota[hero] = pd.Categorical(my_dota[hero])

In [24]:
'''
team_1 = pd.get_dummies(my_dota[heros[0]], prefix = 'hero')
team_0 = pd.get_dummies(my_dota[heros[5]], prefix = 'hero')

for hero in heros[1:5]:
    team_1.add(pd.get_dummies(my_dota[hero], prefix = 'hero'))
for hero in heros[6:]:
    team_0.add(pd.get_dummies(my_dota[hero], prefix = 'hero'))
    
team_0 = team_0*-1
heros_dummy = team_0.add(team_1)
'''

"\nteam_1 = pd.get_dummies(my_dota[heros[0]], prefix = 'hero')\nteam_0 = pd.get_dummies(my_dota[heros[5]], prefix = 'hero')\n\nfor hero in heros[1:5]:\n    team_1.add(pd.get_dummies(my_dota[hero], prefix = 'hero'))\nfor hero in heros[6:]:\n    team_0.add(pd.get_dummies(my_dota[hero], prefix = 'hero'))\n    \nteam_0 = team_0*-1\nheros_dummy = team_0.add(team_1)\n"

In [25]:
#my_dota = my_dota.drop(columns = heros)

In [26]:
#my_dota = pd.concat([my_dota, heros_dummy], axis=1)

In [27]:
# their are more heros since the game updated in the last 2 years with new heros

In [28]:
#my_dota.to_pickle("./data/my_dota.pkl")

In [29]:
#names = ['t_l', 't_m', 't_r','m_l', 'm_m', 'm_r','b_l', 'b_m', 'b_r','x_won']

In [30]:
#tic_tac = pd.read_csv("./data/tic-tac-toe.data", names=names)
#tic_tac.head()

In [31]:
#positions = names[0:-1]
#positions
#for pos in positions:
#    dummy = pd.get_dummies(tic_tac[pos], prefix = pos)
#    tic_tac = pd.concat([tic_tac, dummy], axis=1)

In [32]:
#for pos in positions:
#    dummy = pd.get_dummies(tic_tac[pos], prefix = pos)
#    tic_tac = pd.concat([tic_tac, dummy], axis=1)

In [33]:
#tic_tac.drop(columns=positions, inplace=True)

In [34]:
#tic_tac.x_won = tic_tac.x_won.where(tic_tac.x_won == 'positive', -1)
#tic_tac.x_won = tic_tac.x_won.where(tic_tac.x_won == -1, 1)

In [35]:
#tic_tac.to_pickle("./data/tic_tac_data.pkl")

In [1]:
#names = ['age', 'workclass', 'fnlwgt', 'education','education_num','marital_status', 'occupation','relationship','race', 
 #        'sex','capital_gain','capital_loss','hours_per_week','native_country', 'class']

In [68]:
#adult = pd.concat([pd.read_csv(f, names=names) for f in ['data/adult.test', 'data/adult.data'] ])

In [2]:
#adult.head()

In [70]:
#categorical = ['workclass', 'education','marital_status', 'occupation','relationship','race', 
#         'sex','native_country']
#

In [71]:
#for pos in categorical:
#    dummy = pd.get_dummies(adult[pos], prefix = pos)
#    adult = pd.concat([adult, dummy], axis=1)

In [72]:
#adult.drop(columns=categorical, inplace=True)

In [3]:
#adult.head()

In [80]:
#adult.to_csv("./data/adult_data.csv")

In [93]:
#adult = pd.read_csv("./data/adult_data.csv")

In [94]:
#adult['class'][0]

' <=50K.'

In [4]:
#adult['class'] = adult['class'].where(adult['class'] == adult['class'][0], 1)
#adult['class'] = adult['class'].where(adult['class'] == 1, -1)

In [8]:
categorical = ['cluster', 'game_mode','game_type']

In [9]:
uci_dota = pd.read_pickle("./data/uci_dota.pkl")  
uci_dota.head()

,team_won,cluster,game_mode,game_type,hero_1,hero_2,hero_3,hero_4,hero_5,hero_6,...,hero_104,hero_105,hero_106,hero_107,hero_108,hero_109,hero_110,hero_111,hero_112,hero_113
0,-1,223,8,2,0,-1,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
1,1,227,8,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
2,-1,136,2,2,1,0,0,0,-1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,227,2,2,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,184,2,3,0,0,0,-1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
for pos in categorical:
    dummy = pd.get_dummies(uci_dota[pos], prefix = pos)
    uci_dota = pd.concat([uci_dota, dummy], axis=1)

In [12]:
uci_dota.drop(columns=categorical, inplace=True)

In [14]:
uci_dota.to_pickle("./data/uci_dota.pkl")

In [16]:
my_dota = pd.read_pickle("./data/my_dota.pkl")  
my_dota.head()

,team_won,cluster,game_mode,game_type,hero_1,hero_2,hero_3,hero_4,hero_5,hero_6,...,hero_111,hero_112,hero_113,hero_114,hero_119,hero_120,hero_121,hero_126,hero_128,hero_129
0,1,156,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,227,22,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,236,22,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,225,22,7,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1,153,22,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
for pos in categorical:
    dummy = pd.get_dummies(my_dota[pos], prefix = pos)
    my_dota = pd.concat([my_dota, dummy], axis=1)

In [19]:
#my_dota.drop(columns=categorical, inplace=True)

In [21]:
#my_dota.to_pickle("./data/my_dota.pkl")

In [50]:
cloud_data = pd.read_pickle("./data/solar_weather_data.pkl")  
cloud_data

,kWh,Year,Month,Day,Hour,Minute,Relative Humidity,Dew Point,Surface Albedo,Precipitable Water,...,DNI,Wind Speed,Temperature,Solar Zenith Angle,Clearsky GHI,Clearsky DNI,Clearsky DHI,lat,lang,binary_class
data_id,,,,,,,,,,,,,,,,,,,,,
A-1611_2010-08-26 00:00:00,0.01625,2010,8,26,0,0,32.64,6,0.191,2.963,...,0,2.5,24,133.37,0,0,0,36.199376,-120.099287,1
A-1611_2010-08-26 00:30:00,0.01625,2010,8,26,0,30,34.66,6,0.191,2.988,...,0,2.4,24,132.93,0,0,0,36.199376,-120.099287,1
A-1611_2010-08-26 01:00:00,0.01600,2010,8,26,1,0,34.80,6,0.191,3.014,...,0,2.4,24,131.44,0,0,0,36.199376,-120.099287,1
A-1611_2010-08-26 01:30:00,0.01600,2010,8,26,1,30,34.80,6,0.191,3.035,...,0,2.3,24,129.02,0,0,0,36.199376,-120.099287,1
A-1611_2010-08-26 02:00:00,0.01600,2010,8,26,2,0,34.66,6,0.191,3.056,...,0,2.3,24,125.78,0,0,0,36.199376,-120.099287,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PGE-CSI-14097_2016-12-30 21:30:00,0.00000,2016,12,31,21,30,82.70,-1,0.129,0.684,...,0,1.0,2,142.79,0,0,0,37.695313,-121.792216,1
PGE-CSI-14097_2016-12-30 22:00:00,0.00000,2016,12,31,22,0,81.71,-1,0.129,0.690,...,0,1.0,2,148.52,0,0,0,37.695313,-121.792216,1
PGE-CSI-14097_2016-12-30 22:30:00,0.00000,2016,12,31,22,30,81.70,-1,0.129,0.692,...,0,1.0,1,154.00,0,0,0,37.695313,-121.792216,1
PGE-CSI-14097_2016-12-30 23:00:00,0.00000,2016,12,31,23,0,81.33,-1,0.129,0.695,...,0,1.0,1,158.97,0,0,0,37.695313,-121.792216,1
PGE-CSI-14097_2016-12-30 23:30:00,0.00000,2016,12,31,23,30,87.39,-1,0.129,0.703,...,0,1.0,1,162.98,0,0,0,37.695313,-121.792216,1

In [35]:
cloud_data.drop(columns='ID', inplace=True)

In [36]:
cloud_data.drop(columns=['timeStamp_x', 'timeStamp_y'], inplace=True)

In [38]:
cloud_data.to_pickle("./data/solar_weather_data.pkl")

In [41]:
cloud_data_sample = cloud_data.sample(n=10000, random_state=22)

In [48]:
cloud_data.to_pickle("./data/cloud_data_sample.pkl")

In [44]:
uci_dota = pd.read_pickle("./data/uci_dota.pkl")  
uci_dota

,team_won,hero_1,hero_2,hero_3,hero_4,hero_5,hero_6,hero_7,hero_8,hero_9,...,game_mode_3,game_mode_4,game_mode_5,game_mode_6,game_mode_7,game_mode_8,game_mode_9,game_type_1,game_type_2,game_type_3
0,-1,0,-1,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
1,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
2,-1,1,0,0,0,-1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,-1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,1,0,0,0,-1,0,0,0,-1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92645,-1,1,0,0,-1,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,1
92646,1,0,0,0,0,-1,0,0,-1,0,...,0,0,0,0,0,0,0,0,1,0
92647,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
92648,-1,0,0,0,0,0,1,0,0,-1,...,0,0,0,0,0,0,0,0,1,0
92649,-1,0,-1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [45]:
uci_dota = uci_dota.sample(n=10000, random_state=22)

In [46]:
uci_dota

,team_won,hero_1,hero_2,hero_3,hero_4,hero_5,hero_6,hero_7,hero_8,hero_9,...,game_mode_3,game_mode_4,game_mode_5,game_mode_6,game_mode_7,game_mode_8,game_mode_9,game_type_1,game_type_2,game_type_3
90738,-1,0,-1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
74624,1,-1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
72987,1,0,-1,0,0,0,0,0,-1,0,...,0,0,0,0,0,0,0,0,0,1
43562,1,-1,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
48840,-1,0,-1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85633,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9092,1,0,0,0,0,0,0,0,-1,0,...,0,0,0,0,0,0,0,0,1,0
60865,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
36108,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
29047,-1,0,0,0,0,0,-1,0,-1,1,...,0,0,0,0,0,0,0,0,0,1

In [49]:
uci_dota.to_pickle("./data/uci_dota_sample.pkl")